html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", cursive;
  color: white;
  text-align: center;
  background-color: #79756f;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  background-color: #713837;
  list-style-type: none;
}
