html {
  box-sizing: border-box;
  background-color:#dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", serif;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0.3rem;

}

header {
  background-color: #79756f;
  border-top:3px solid #595652;
  border-bottom:3px solid #595652;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  color: #fff;
  background-color: #713837;
  padding: 0.6rem;
  border: 2px solid #713837;
  border-radius:3px;
}

.planets li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 0.3rem;

}

ul {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2rem;
}

.planets a:hover {
  background-color: #f33;
}

body {
  margin: 0;
}
