html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: font-family: "Bevan", cursive;
  color: white;
  text-align: center;
  background-color: #79756f;
  font-weight: bold;
}
